@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html {
    height: 65vw;
    background: url(/images/Peacefu.jpg) center fixed no-repeat;
    background-size: cover;
}

.btn {
    cursor: pointer;
}

.registration_field {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.reg {
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
    max-width: 20rem;
}

.bcc {
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.bc {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-left: 38%;
    max-width: 30rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
    background: rgb(93,212,86);
    background: linear-gradient(160deg, rgba(93,212,86,0.6811099439775911) 0%, rgba(255,179,0,0.36738445378151263) 100%);
    padding-bottom: 1rem;
    border-radius: 1rem;
}

.btn-register {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.name {
    max-width: 8rem;
}