@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html {
    height: 65vw;
    background: url(images/Peacefu.jpg) no-repeat fixed center;
    background-size: cover;
}

.registration_field {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.reg {
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
    max-width: 22.5rem;
    border-radius: .4rem;
    border: none;

}

.bcc {
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.bc {
    /* запрет на коп */
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    /* / */
    max-width: 25rem;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
    background: rgba(212, 218, 212, 0.315);
    padding-bottom: 1.3rem;
    padding-top: .8rem;
    border-radius: 1rem;
    /* BOX-SHADOW внеш */
    -webkit-box-shadow: 20px 28px 57px -9px rgba(105, 105, 105, 0.21);
    -moz-box-shadow: 20px 28px 57px -9px rgba(105, 105, 105, 0.21);
    box-shadow: 20px 28px 57px -9px rgba(105, 105, 105, 0.21);
    /* BOX-SHADOW внутрь */
    -webkit-box-shadow: 0px -5px 80px 0px rgba(167, 228, 125, 0.45) inset;
    -moz-box-shadow: 0px -5px 80px 0px rgba(167, 228, 125, 0.45) inset;
    box-shadow: 0px -5px 80px 0px rgba(167, 228, 125, 0.45) inset;
}

.btn-register {
    cursor: url("images/cursor/cursor-1.png"), auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
}

.name {
    max-width: 8rem;
}

input {
    font-size: 1rem;
}

input:focus {
    outline: 0;

}

.icons {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
}

.btn-mob {
    color: rgba(10, 126, 0, 0.582);
    /* width: 50px; */
    /* height: 50px; */
    background: rgba(124, 243, 154, 0.548);
    cursor: pointer;
    border-radius: 1rem;
    border: none;

    font-size: 1.5rem;
}
.icons-mob{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    
}
@media (min-width:540px) {
    .btn-mob {
        display: none;
    }
    .icons-mob{
        display: none;
    }
}

@media (max-width:540px) {
    .btn-register {
        display: none;
    }
    .icons{
        display: none;
    }
    .btn-register p {
        display: none;
    }
}
.data{
    background: rgba(252, 251, 251, 0.856);
    color: #447439;
    margin-top: 1rem;
    padding: .3rem;
    border-radius: inherit;
    margin-bottom: 1rem;
    display: flex;
    border: none;
}
.fa-discord {
    color: #7289D9;
}

.fa-telegram-plane {
    color: #25A5E4;
}

.fa-odnoklassniki {
    color: #F58220;
}