@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html {
    height: 65vw;
    background: url(images/Peacefu.jpg) no-repeat fixed center;
    background-size: cover;
}

.registration_field {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.reg {
    margin: .5rem 0 .5rem 0;
    padding: .5rem;
    max-width: 22.5rem;
    border-radius: .4rem;
    border: none;

}

.bcc {
    display: flex;
    align-content: space-around;
    justify-content: center;
}

.bc {
    /* запрет на коп */
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    /* / */

    max-width: 24.5rem;
    min-width: 23rem;
    max-height: 23.5rem;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(3px);
    background: rgba(212, 218, 212, 0.315);
    padding-bottom: .3rem;
    padding-top: .8rem;
    border-radius: 1rem;
    /* BOX-SHADOW внеш */
    -webkit-box-shadow: 20px 28px 57px -9px rgba(105, 105, 105, 0.21);
    -moz-box-shadow: 20px 28px 57px -9px rgba(105, 105, 105, 0.21);
    box-shadow: 20px 28px 57px -9px rgba(105, 105, 105, 0.21);
    /* BOX-SHADOW внутрь */
    -webkit-box-shadow: 0px -5px 80px 0px rgba(167, 228, 125, 0.45) inset;
    -moz-box-shadow: 0px -5px 80px 0px rgba(167, 228, 125, 0.45) inset;
    box-shadow: 0px -5px 80px 0px rgba(167, 228, 125, 0.45) inset;
}

.btn-register {
    cursor: url("images/cursor/cursor-1.png"), auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 1rem;
    padding: .5rem .5rem .5rem .5rem;
    border-radius: .2rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 400;
    transition: 400ms ease;
    background: rgb(255, 255, 255);
}

.btn-register:hover {
    color: rgb(255, 255, 255);
    background: #37734b96;
    /* backdrop-filter: blur(3px); */
}

.name {
    max-width: 8rem;
}

input {
    font-size: 1rem;
}

input:focus {
    outline: 0;

}

.icons {
    background-color: rgba(255, 255, 255, 0.678);
    display: flex;
    border-radius: 2rem;
    justify-content: space-evenly;
    font-size: 2rem;
    padding: 3rem;
    padding-top: 1.3rem;
    max-height: 3rem;
    margin-top: 3rem;
}

.btn-mob {
    padding: .2rem;
    color: rgba(10, 126, 0, 0.582);
    /* width: 50px; */
    /* height: 50px; */
    background: rgba(124, 243, 154, 0.548);
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    font-size: 1.5rem;
}

.icons-mob {
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-top: 1rem;
    /* margin-bottom: 0rem; */

}

@media (min-width:540px) {
    .btn-mob {
        display: none;
    }

    .icons-mob {
        display: none;
    }
}

@media (max-width:540px) {
    .btn-register {
        display: none;
    }

    .icons {
        display: none;
    }

    .btn-register p {
        display: none;
    }

    .data {
        max-width: 9.4rem;
    }
}

.data {
    margin-left: 1rem;
    padding-left: .6rem;
    padding-top: .1rem;
    background: #73c0ff50;
    color: #447439;
    margin-top: .5rem;
    /* padding: .3rem; */
    border-radius: inherit;
    margin-bottom: .5rem;
    display: flex;
    border: none;
    max-width: 9.4rem;

}

#ddta {
    background: #F9FBFC;
    color: #447439;
    /* margin-top: 1rem; */
    /* padding: .3rem; */
    border-radius: inherit;
    /* margin-bottom: 1rem; */
    display: flex;
    border: none;
}
.pol {
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.pol-man{
    font-size: 1.4rem;
    padding-top: .1rem;
    padding-left: .2rem;
    padding-right: .2rem;
    background: rgb(251, 253, 255);
    border-radius: .3rem;
    transition: 600ms ease;
}
.pol-man:hover {
    color: #7289D9;
    padding-left: .8rem;
    padding-right: .8rem;
}
.pol-wman{
    font-size: 1.4rem;
    padding-top: .1rem;
    padding-left: .2rem;
    padding-right: .2rem;
    background: rgb(255, 251, 255);
    border-radius: .3rem;
    transition: 600ms ease;

}

.pol-wman:hover {
    color: hotpink;
    padding-left: .8rem;
    padding-right: .8rem;
}
label{
    cursor: pointer;
}
.data-txt {
    font-weight: 700;
    margin-left: 1.2rem;
    display: flex;
    align-items: center;
}
.fa-discord {
    cursor: url("images/cursor/cursor-1.png"), auto;
    color: #7289D9;
    transition: 400ms ease;
}

.fa-telegram-plane {
    cursor: url("images/cursor/cursor-1.png"), auto;
    color: #25A5E4;
    transition: 400ms ease;

}

.fa-odnoklassniki {
    cursor: url("images/cursor/cursor-1.png"), auto;
    color: #F58220;
    transition: 400ms ease;
}

.fa-odnoklassniki:hover {
    color: #c95e00;
    background-color:#c95e004d ;
    -webkit-box-shadow: 0px 2px 67px 16px #F58220;
    -moz-box-shadow: 0px 2px 67px 16px #F58220;
    box-shadow: 0px 2px 67px 16px #F58220;
}

.fa-telegram-plane:hover {
    background-color: #25a4e43f;
    color: #0f6894;
    -webkit-box-shadow: 0px 2px 67px 10px #25A5E4;
    -moz-box-shadow: 0px 2px 67px 10px #25A5E4;
    box-shadow: 0px 2px 67px 10px #25A5E4;
}

.fa-discord:hover {
    color: #3952ac;
    background-color: #7288d95e;
    -webkit-box-shadow: 0px 2px 67px 16px #7289D9;
    -moz-box-shadow: 0px 2px 67px 16px #7289D9;
    box-shadow: 0px 2px 67px 16px #7289D9;
}

.img-girl img {
    display: none;
}